body {
  display: flex;
  flex-direction: column;
  line-height: 1.3;
  background-color: gainsboro;
  justify-content: flex-start;
}

head {
  display:flex;
}
  main {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
  }

header {
display: flex;
justify-content: space-between;
align-items: center;
padding: 0.1%;
background-color:darkblue;
color: whitesmoke
}

.header2 {
  padding: 0.5%;
  display: flex;
  float: right;
}

h1 {
  font-family: impact;
  font-size: 200%;
  
}
h1::after{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  content: 'Portfolio';
  color:bisque;
  margin-left: 5px;
}
nav ul {
  display:flex;
  justify-content:space-between;
  min-width: 300px;
}

nav a {
font-family: impact;
  color:antiquewhite;
  font-weight: bold;
  text-decoration: underline;
}

nav a:hover {
  color: pink
}

h2 {
  font-size: 50px;
  display: block;
  position:absolute;
  left: 200px;
  width: 300px;
  border: 3px;
  padding: 10px;

}

h3 {
  font-size: 50px;
  display: block;
  position:absolute;
  left: 200px;
  bottom: 200px;
  width: 300px;
  border: 3px;
  padding: 60px;
}

h6 {
  color:black;
    font-size: 50px;
    display: block;
    position:absolute;
    left: 130px;
    top: 1200px;
    width: 300px;
    border: 3px;
    padding: 60px;
}
p {
  display: block;
  position: relative;
  left: 500px;
  width: 500px;
  border: 3px;
  padding: 40px;
}
.vl {
  border-left: 3px solid darkblue;
     height:150px;
     left: 30%;
     position: absolute;
}
.vl2 {
  border-left: 3px solid darkblue;
     height:960px;
     left: 445px;
     position: absolute;
}

.vl3 {
  border-left: 3px solid darkblue;
  margin-top: 60px;
     height:200px;
     left: 454px;
     position: absolute;
}

.large-card {
  border-style: solid;
  border-width: 1px;
  padding: 0px;
  margin: 10px;
  margin-left: 900px;
  margin-right: 0px;
  flex: 0 0 1032px;
  align-items: center;
}

.card-container {
  display: flex;
  margin-left: 100px;
  flex-wrap: wrap; /* Allows cards to wrap into rows */
  justify-content: space-between; 
  position: relative;
}

.card {
  border-style: solid;
  border-width: 1px;
  padding: 0px;
  margin: 5px;
  flex: 0 0 510px; /* Adds space between the cards */
  box-sizing:border-box; /* Ensures padding and border are included in width */
}

.products {
  position: relative;
  text-align: left;
  color: white;
  background-color: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  align-items:flex-end;
}

.card img {
  width: 100%;       
  height: 200px;     
  object-fit: fill;
}
.large-card img {
  width: 100%;     
  height: 200px;     
  object-fit:fill;
}


.contact-p {
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 15px; 
  margin: 100px 10px;
  text-align: justify;
text-align-last: right;  
}

@media screen and (max-width: 768px) 
{
  header,
  h1, h2, h3, h4, h5, h6,  main,
  body {
    flex-direction: column;
  }
}